<!doctype html>
<html>
<head>
  <title>Application Received</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

	<h1>Application Received!!</h1>

	<h4>Dear {{ firstname }} {{ lastname }},</h4>
	<p>Thank you for application. 
	<p>We are so thrilled that you have a applied to be a {{ position }} at Balloonicorns Unlimited.</p>
	<p> We will carefully consider your minimum salary expectation of ${{ salary }}.</p>
	<br>
	<p>Best of luck! Keep in touch and keep Balloongineering!</p>

</body>
</html>