<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Page title -->
		<title>Application Form</title>

		<!-- Link to style.css -->
		<link rel="stylesheet" href="/static/style.css">

	</head>

	<body>

		<h2>Thank you for your interest in joining Balloonicorns Unlimited.</h2>
		<br>

		<!-- Instructions Box -->
		<div id="instructions">
		<p>We are currently seeking passionate Balloongineers to fill the following positions:</p>
			<ul>
				<li>Software Engineer</li>
				<li>QA Engineer</li>
				<li>Product Manager</li>
			</ul>

		<p>If you think you have that magic sparkle we seek, please fill out the form below. Be sure to include your salary expectations and job title.
		</p>
		</div>
		<br>
		<br>

		<!-- App Form starts here -->
		<h3>Application Form</h3>
	
		<form action="/application" method="POST" id="form">

			<br>
			<label><input type="text" name="firstname" id="firstname">First Name:</label>
			<br>
			
			<br>
			<label><input type="text" name="lastname" id="lastname">Last Name:</label>
				
			<br>
			
			<br>
			<label><input type="text" name="salary" id="salary">Salary Requirements:</label>
				
			<br>
			
			<br>
			<label>What position are you applying for?
				<select name="position">
					<option value="Software-Engineer">Software Engineer</option>
					<option value="QA-Engineer">QA Engineer</option>	
					<option value="Product-Manager">Product Manager</option>
				</select></label>
			<br>
			
			<br>	
			<input type="submit" id="submit">
		
		</form>
	</body>
</html>


